@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap);

.header {
 font-size: 350%;
 font-family: dancing script;
}
body {
 background-color: black;
 position:fixed;
 top:0;
 bottom:0;
 left:0;
 right:0;
}
.he {
 font-family:MedievalSharp;
}
html{
 position:fixed;
 top:0;
 bottom:0;
 left:0;
 right:0;
}