@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap);

.navbarMods {
 font-family: Dancing Script;
 font-size: 200%;
}
.bigmargin {
 margin: 10px;
 margin-bottom: -20px;
 margin-top: -20px;
}
.nav-link {
 font-size: 150%;
 font-family: Architects Daughter;
 margin: 5px;
}
button {
 background-color: transparent; 
 border-color: transparent;
}
.darkmode {
 background-color: white;
 color: black;
}
.c-title-s {
 font-size: 30px;
}
.c-text-s {
 font-size: 20px;
}
.dr-item{
 font-family: Architects Daughter;
 color: black;
 font-weight: bold;
 font-size: 1rem;
 margin-bottom: 5px;
 margin-top: 5px;
}
:root {
    --background: white;
    --color: #2b2b2b;
  }

  body {
    background-color: var(--background);
    color: var(--color);
  }

  .darko {
    --background: #2b2b2b;
    --color: white;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #2b2b2b;
      --color: white;
    }
  }

  .light {
    --background: white;
    --color: #2b2b2b;
  }
.jumbotron{font-size:15px;color:black;padding:2rem 1rem;margin-bottom:1rem;background-color:grey;border-radius:.3rem}

.jumbotron-fluid{padding-right:0;padding-left:0;border-radius:0}
.btn {
 font-family: Architects Daughter;
}
h1 {
 font-size: 4vw;
 margin-bottom: 30px;
 font-family: Architects Daughter;
}
p {
font-size: 2.5vw;
font-family: Architects Daughter;
}
.img {
    border: 5px solid lightgray;
    width: 25%;
    height: auto;
    float: right;
    position: absolute; 
    top: 110px; 
    right: 10px; 
   }
   .imgr {
    width: 29%; 
    height: auto;
    float: right;
    position: relative;
    top: 5vw;
    right: -27vw; 
    border-radius: 20px;
    border: 5px solid pink;
   }
   .imgr:hover {
       height: auto;
       width: 30%;
   }
.buton {
 margin-right: -10px;
 object-position: right top;
}
.top-border-e {
 margin-bottom: -20%;
}
button::active {
 border-color: transparent;
}
.imgs:hover {
    width: 30%;
    height: auto;
    margin-bottom: 3vh;
}
h6 {
    font-size: 1.4vw;
    margin-top: 2vw;
}
.contain {
    width: 50vw;
}
a.order-link:hover {
    color: grey;
}
a {
    color: black;
    
}
h2 {
    font-family: Architects Daughter;
}
.wrapper {
    width: 50vw;
    margin-left: 2vw;
    word-wrap: break-word;
}
.form-control {
    background-color:aliceblue;
    color: pink;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}