@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap);

.navbarMods {
 font-family: Dancing Script;
 font-size: 200%;
}
.bigmargin {
 margin: 10px;
 margin-bottom: -20px;
 margin-top: -20px;
}
.nav-link {
 font-size: 150%;
 font-family: Architects Daughter;
 margin: 5px;
}
button {
 background-color: transparent; 
 border-color: transparent;
}
.darkmode {
 background-color: black;
 color: white;
}
.c-title-s {
 font-size: 30px;
}
.c-text-s {
 font-size: 20px;
}
.dr-item{
 font-family: Architects Daughter;
 color: black;
 font-weight: bold;
 font-size: 1rem;
 margin-bottom: 5px;
 margin-top: 5px;
}
body, html {
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
}
.jumbotron{font-size:15px;color:black;padding:2rem 1rem;margin-bottom:1rem;background-color:grey;border-radius:.3rem}

.jumbotron-fluid{padding-right:0;padding-left:0;border-radius:0}
.btn {
 font-family: Architects Daughter;
}
h1 {
 font-size: 4vw;
 margin-bottom: 30px;
 font-family: Architects Daughter;
}
p {
font-size: 2.5vw;
font-family: Architects Daughter;
margin-left: 2vw;
margin-right: 2vw;
}
.img {
 border: 5px solid lightgray;
 width: 25%;
 height: auto;
 float: right;
 position: absolute; 
 top: 110px; 
 right: 10px; 
}
.buton {
 margin-right: -10px;
 object-position: right top;
}
.top-border-e {
 margin-bottom: -20%;
}
button::active {
 border-color: transparent;
}
img:hover {
    width: 30%;
    height: auto;
    margin-bottom: 3vh;
}
h6 {
    font-size: 1.4vw;
    margin-top: 2vw;
}
.contain {
    width: 50vw;
    border: 5px solid lightgray;
}
a.order-link:hover {
    color: mediumpurple;
}
a {
    color: black;
}