@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap);

h1 {
 font-family: Dancing Script;
 font-size: 400%;
 color: white;
}
img {
 border: 5px solid black;
}
h2 {
 font-family: Yanone Kaffeesatz;
 font-size: 200%;
 color: white;
}
body {
 background-color: black;
} 
br {
 display: block;
 margin-bottom: 1em;
}