@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);

h1 {
 font-family: Dancing Script;
 font-size: 400%;
 color: white;
}
img {
 border: 5px solid black;
}
h2 {
 font-family: cursive;
 font-size: 150%;
 color: white;
}
body {
 background-color: black;
}