@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap);

.darkmode {
 background-color: black;
 color: white;
}
button {
 background-color: transparent;
 border: white solid 1px;
}
.nav-link {
 font-size: 150%;
 font-family: Architects Daughter;
 margin: 5px;
}
.navbarMods {
 font-family: Dancing Script;
 font-size: 200%;
}
.bigmargin {
 margin: 10px;
 margin-bottom: -20px;
 margin-top: -20px;
}
.bg {
 background-color: black;
 margin-top: 20px;
}